<?xml version="1.0"?>

<model>
  <name>depth_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Thomas Chun Fai Lee</name>
    <email>chunfai2@andrew.cmu.edu</email>
  </author>
  <description>
    Model of onboard depth camera for quad
  </description>
</model>
