<launch>

    <arg name="reference" default="gbpl" />
    <arg name="multiple_robots" default="false"/>
    <arg name="logging" default="false" />
    <arg name="twist_input" default="none" />
    <arg name="leaping" default="true" />
    <arg name="ac" default="false" />
    <arg name="robot_type" default="spirit"/>

    <!-- Define namespaces for each robot -->
    <arg name="namespace_1" default="robot_1"/>

    <group ns="$(arg namespace_1)">
        <node name="apply_force" pkg="apply_force" type="apply_force_node" output="screen">
        </node>
    </group>

</launch>
