<?xml version="1.0"?>
<model>
  <name>split_belt_treadmill</name>
  <version>1.0</version>
  <sdf version='1.4'>split_belt.sdf</sdf>

  <author>
   <name>David Ologan</name>
   <email>dologan@andrew.cmu.edu</email>
  </author>

  <description>
    Splitbelt Treadmill to Test Asymetric Gaits
  </description>
</model>