<launch>
    <!-- Launch RealSense D435i Camera Node -->
    <include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch">

        <arg name="enable_depth" value="true"/>
        <arg name="enable_color" value="false"/> 
        <arg name="enable_pointcloud" value="true"/>
        <arg name="pointcloud_texture_stream" value="RS2_STREAM_COLOR"/> 
        <arg name="pointcloud_texture_index" value="0"/>

    </include>
    

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find quad_simulator)/other/sensor_description/depth_camera/model.sdf -sdf -model depth_camera_model" />

    <node name="realsense_grid_map_node" pkg="realsense_grid_map" type="realsense_grid_map_node" output="screen">
        <param name="point_cloud_topic" value="/camera/depth/color/points"/>  
        <param name="grid_resolution" value="0.1"/>  
    </node>

    <include file="$(find quad_utils)/launch/quad_gazebo.launch" />
</launch>



    
